@model IEnumerable<Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (Persona persona in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => persona.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@persona.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@persona.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@persona.Id">Delete</a>                
            </td>
        </tr>
}
    </tbody>
</table>
