@model IEnumerable<Persona>

@{
    ViewData["Title"] = "Home Page";
    var unaVariable = "pepe";
    Persona supervisor = ViewBag.Supervisor;
}


<div class="card">
    <div class="card-header">
        Supervisor
    </div>
    <div class="card-body">
        <div>Nombre: @supervisor.Nombre</div>
        <div>Apellido: @supervisor.Apellido</div>
        <div>Quejas: @supervisor.Email</div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona persona in Model)
        {
        <tr>
            <td>@Html.DisplayFor(Model => persona.Nombre)</td>
            <td>@Html.DisplayFor(Model => persona.Apellido)</td>
            <td>@Html.DisplayFor(Model => persona.Email)</td>            
        </tr>
        }
    </tbody>    
</table>

@{ 
    
}